SD_WAN_Client_ID="<use value shared during api key create>"
SD_WAN_Client_SecretKey="<use value shared during api key create>"
SD_WAN_Client_Auth_URL="https://cloudinfra-gw.portal.checkpoint.com/auth/external"
