SD_WAN_API-KEY="<same-as-SD_WAN_NANO_EGG_TOKEN>"
SD_WAN_Client_ID="<use value shared during api key create>"
SD_WAN_Client_SecretKey="<use value shared during api key create>"
SD_WAN_Client_Auth_URL="https://cloudinfra-gw.portal.checkpoint.com/auth/external"
SD_WAN_NANO_EGG_TOKEN="<use the nano egg value from profile>"
